
body {
  margin: 0px;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	margin: 0px;
}

.imageleftcontainer {
	float: left;
	width:50%;
	max-height:100vh;
    margin: 0px;
	padding: 0px;
  	background-color: #000000;
	
}

.leftimage {
	width: 100%;
}

.imagerightcontainer {
	float: left;
	width:50%;	

	max-height:100vh;
    margin: 0px;
	padding: 0px;
  position: relative;
	
}

.rightimage {
	width: 100%;
  z-index: 1
  position: relative;
}

.container .content {
    display: none;
    padding : 5px;
}
.leftA{
  z-index: 3;
  position: relative;
}

.leftB{
  position:absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 2;
  transition: all 1s;
}
.test {
  left:50%;
}