
body {
  margin: 0px;
}

#container {
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #000000;
	margin: 0px;
}


#image-left-container {
	float: left;
	width:50%;
	max-height:100vh;
    margin: 0px;
	padding: 0px;
	
}

.left-image {
	width: 100%;
}

#image-right-container {
	float: left;
	width:50%;	

	max-height:100vh;
    margin: 0px;
	padding: 0px;
	
}

.right-image {
	width: 100%;
}